.songInfoContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    left: 100%;
    line-height: 1.4;
    color: #fff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background: rgba(31, 25, 55, .95);
    z-index: 1;
    padding: 105px 30px 50px;
    transition-property: left;
    transition-duration: .5s;
    transition-timing-function: ease-out;

    &.visible {
        left: 0;
    }

    .imageWrapper {
        width: 110px;
        height: 110px;
        display: block;
        margin: 20px auto;
        border-radius: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: 20px;
        font-weight: 900;
    }

    .artist {
        text-transform: uppercase;
        font-size: 10px;
        color: #6f729c;
    }

    .separator {
        display: block;
        position: relative;
        margin: 20px auto;
        height: 2px;
        width: 2px;
        background: #727272;
        border-radius: 100%;

        &::after,
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            height: 2px;
            width: 2px;
            background: #727272;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            right: 20px;
        }

        &::before {
            left: 20px;
        }
    }

    .buttonsGroup {
        display: flex;
        flex-direction: column;

        button {
            font-family: Roboto, Arial, Helvetica, sans-serif;
            border: none;
            background: none;
            color: #fff;
            margin: 10px 0;
            font-weight: 300;
        }
    }
}